doctype html
html(lang="es")
    head
        include partials/head
    body 
        header.barra
            div(class='reloj')
                p(class='fecha')
                p(class='hora')
            a(href="/pagina-principal" id="homeProyecto") Sistema de Gestiones #{bootCamp}
            p(class='usuario-autenticado')
                | Bienvenido 
                i #{usuarioAutenticado}
                button(class='cerrar-sesion') 
                    a(href="/cerrar-sesion" value='Cerrar Sesion').material-symbols-outlined Logout Cerrar Sesion
            
        main.contenedor
            aside.contenedor-proyectos
                h1 Administrador
                .panel.crear-proyecto
                    a(href="/nuevo-proyecto" class="boton") Nueva Gestion
                        span + 
                .panel.lista-proyectos
                    h2 Gestiones Actuales 
                    ul#proyectos.proyectos
                        if(projectsCreates)
                            each project in projectsCreates
                                li 
                                    a(href=`/proyecto/${project.url}`)= project.nombre
            block contenido
            //- pre= vardump(projectsCreates)
        script(src="../public/dist/bundle.js")
