doctype html
html(lang="es")
    head
        include partials/head
    body.login 
        div(class="nueva-password")
            form#formulario.caja.caja-login(method="POST" class='nueva-contrase単a')
                h2= titlePagina
                h3 Introduce tu nueva contrase単a
                if locals.mensajes
                        .alertas
                            each mensaje in Object.keys(locals.mensajes)
                                each error in mensajes[mensaje] 
                                    p(class='reestablecer-error')= error
                .campo 
                    input(type="password", name="password" placeholder='Introduce la nueva contrase単a')
                .campo 
                    input(type="password", name="passwordConfirm" placeholder='Confirma la nueva contrase単a')
                .campo.enviar 
                    input.boton(type="submit", value="Reestablecer Password")