doctype html
html(lang="es")
    head
        include partials/head
    body.login 
        .contenedor-formulario
            form#formulario.caja.caja-login(action="/reestablecer-password", method="post" class="reestablecer")
                h2= titlePagina
                p Introduce tu email para reestablecer la contraseña
                if locals.mensajes
                    .alertas
                        each mensaje in Object.keys(locals.mensajes)
                            each error in mensajes[mensaje] 
                                p(class='reestablecer-error')= error
                .campo 
                    input(type="email", name="email" placeholder='Introduce tu email')
                .campo.enviar 
                    input.boton(type="submit", value="Reestablecer")
                .campo.acciones
                    a(href="/") Volver Login