doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./reestablecer-password.css
    body 
        h2 Reestablecimiento de contrase単a
        p Hola vemos que haz solicitado restablecer tu contrase単a, el enlace es temporal, superado un determinado tiempo, tendras que volverlo a solicitar.
            a(href=`${urlPasswordReset}`) Reestablecer Contrase単a
        p Si no puedes acceder al enlace pincha aqui #{urlPasswordReset}
        p Si no haz solicitado la contrase単a, por favor elimina este mensaje,muchas gracias!